* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1270px;
  margin: 30px auto;
  background-color: #1a0b2e;
  color: white;
  margin-top: 50px;
}
/* navabr style */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  display: flex;
  gap: 20px;
}
.btn:hover {
  background-color: blueviolet;
  transition: 1s;
}
.btn {
  background-color: rgb(237, 64, 185);

  padding: 7px 13px;
  border-radius: 10px;
  border: none;
  color: white;
}
.btn-another {
  border: 2px solid green;
  padding: 7px 13px;
  border-radius: 10px;
  background-color: #221f27;
  color: #00ff88;
}
.span-color {
  color: rgb(237, 64, 185);
}
.hamburger-menu {
  display: none;
  color: grey;
}

.hr {
  border: none;
  border-top: 1px solid grey;
  height: 1px;
  margin-top: 20px;
}

/* banner-container */
.banner-container {
  background-image: url(../assets/hero-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}
.big-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 1100;
}
.para {
  margin-bottom: 10px;
}
.mic-img {
  margin-top: 80px;
}
.badge {
  background-color: #00ff88;
  border: none;
  padding: 3px 4px;
  border-radius: 7px;
  position: absolute;
  margin-top: 15px;
  font-size: small;
}
.img-back {
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  width: 350px;
  height: 350px;
  margin-left: 50px;
}
/* about section */
.about-container {
  text-align: center;
}
.para-extra {
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-item {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.same-title-color {
  color: #00ff88;
}

/* choose section */
.area {
  width: 200px;
  height: 200px;
  background-color: red;
}
.grid-container {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 160px;
  gap: 20px;
}

.area-1 {
  background-color: rgba(53, 17, 101, 0.4);
  grid-row: span 2;
  padding: 30px 20px;
  border-radius: 20px;
  max-width: 350px;
  max-height: 450px;
}
.area-a-img {
  margin-bottom: 20px;
}
.area-1-title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.choose-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 30px;
}
.area-2 {
  background-color: rgba(53, 17, 101, 0.4);
  grid-column: span 2;
  padding: 5px 10px;
  border-radius: 20px;
  padding-left: 30px;
}
.area-2-img {
  margin-top: 5px;
}
.area-3-img {
  margin-top: 10px;
}
.mobile-tilte {
  margin-top: 5px;
  margin-bottom: 5px;
}
.area-3 {
  background-color: rgba(53, 17, 101, 0.4);
  grid-column: span 2;
  border-radius: 20px;
  padding-left: 30px;
}
.area-4 {
  background-color: rgba(53, 17, 101, 0.4);
  grid-column: span 2;
  border-radius: 20px;
  padding-left: 30px;
  max-width: 750px;
  height: 200px;
}
.area-5 {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;
  padding-left: 30px;
  width: 400px;
  height: 200px;
}
.area-5-img {
  padding-top: 20px;
}
/* featured container */
.featured-container {
  margin-top: 120px;
}
.feature-title {
  margin-bottom: 20px;
}
.feature-content {
  padding-left: 20px;
  margin-bottom: 15px;
}
.heading-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.featured-div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}
/* featured vedio */
.feature-video-div {
  background-color: #221f27;
  border-radius: 20px;
  width: 360px;
}
.video-img {
  border-radius: 20px;
}
/* meet container */
.meet-container {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  background-color: #221f27;
  margin-top: 50px;
  padding-top: 20px;
}
.meet-content {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #4b4a4d;
  padding: 10px 20px;
  width: 900px;
  margin: 0 auto;
}
.social-meet-container {
  display: flex;
  gap: 20px;
}
.social-img {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 20px;
  width: 30px;
}

/* footer container */
.footer-container {
  width: 1000px;
  height: 300px;
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-para {
  margin-top: 50px;
}
.footer-title {
  margin-left: 100px;
  margin-bottom: 20px;
}
.footer-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
/* Responsive */

@media (max-width: 576px) {
  .hamburger-menu {
    display: block;
  }
  .nav-link {
    display: none;
  }
  .btn-small {
    display: none;
  }
  .para {
    width: 400px;
  }
  .img-back {
    margin-left: 20px;
  }
  /* about container start */
  .about-con {
    margin: 0 10px;
    margin-right: 40px;
   text-align: center;
  }
/* choose section */
.choose-container{
  margin: 0px;
}
  /* about container end */
  .about-item,
  .meet-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* meet container */
  }
  .meet-content {
    
    width: 100%;
    margin: 0 auto;
    height: 500px;
    margin-top: 100px;
    text-align: center;
  }
  .meet-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 10px;
  }
  .social-meet-container {
    margin-top: 20px;
   display: flex;
   justify-content: center;
  }
  #meet-space {
   padding-top: 20px;
  }
  .para {
    margin: 0px;
  }
  .about-con {
    margin-left: 25px;
  }
  #extra-para {
    margin-bottom: 20px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 5px;
    width: 100%;
  }
  .area-2,
  .area-3 {
    height: 160px;
  }
 

  .area-1,
  .area-2,
  .area-3,
  .area-4 {
    max-width: 100%;
    margin: 10px 15px;
  }
  .area-5 {
    width: 100%;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .area-5-img {
    padding-top: 20px;
  }
  /* feature div */
  .featured-div {
    flex-direction: column;
    margin-top: 30px;
    gap: 50px;
    margin: 0 auto;
  }
  .footer-container {
    width: 100%;
    margin: 0 auto;
  }
  .footer-media {
    grid-template-columns: repeat(2, 1fr);
  }
}
